body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24292e;
    color: gray;
    text-align: center;
    padding: 15px 0;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.command {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #0366d6;
}

